{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}

<form>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputLatitude">Latitude</label>
      <input type="text" class="form-control" id="inputLatitude" placeholder="Latitude">
    </div>
    <div class="form-group col-md-5">
      <label for="inputLongitude">Longitude</label>
      <input type="text" class="form-control" id="inputLongitude" placeholder="Longitude">
    </div>
    <button style="display: inline-block; margin-top: 28px; margin-bottom: 16px" type="button" class="btn btn-success">Set to location</button>
  </div>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea class="form-control" id="inputDescription" rows="3"></textarea>
  </div>  
  <div class="form-group">
    <label for="inputState">Location type</label>
    <select id="inputState" class="form-control">
      <option selected disabled>This is a place to...</option>
      <option>Work</option>
      <option>Sleep</option>
      <option>Shower</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

{% endblock %}