{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div id ="welcome_div">
    <h3 id="welcome_text" style="text-align:center; vertical-align: middle">
        Welcome to Nomadr, an interactive web map that locates safe places to work, sleep, and shower on the road with community generated locations
    </h3>
    <h4 id="welcome_text" style="text-align:center; vertical-align: middle">
        Please <a href="login">log in</a> or <a href="register">register</a>.
    </h4>
</div>

{% endblock %}